body {
	/*background-color: #131313;*/
	background: url('/images/background.png') repeat-x;
	background-color: #040404;
	margin: 0px;
	padding: 0px;

	font-family: "Segoe UI";
}

/* HEADER */
#header {
	position: relative;

	padding-left: 20px;
	width: 100%;
	height: 110px;

	/* fallback */
	background-color: #1d6607;
	  
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d6607), to(#0e3d01));
	  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #1d6607, #0e3d01);
	  
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #1d6607, #0e3d01);
	  
	/* IE 10 */
	background: -ms-linear-gradient(top, #1d6607, #0e3d01);
	  
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #1d6607, #0e3d01);


	/* Box Shadow! */
	-moz-box-shadow: 0px 2px 10px #060606;
	-webkit-box-shadow: 0px 2px 10px #060606;
	box-shadow: 0px 2px 10px #060606;

	color: #ffffff;
}

/* STATUSES */
.status_green {
	background-color: #1d6607 !important;
}

.status_red {
	background-color: #882222 !important;

}


.status_yellow {
	background-color: #DADA00 !important;
}

.status_blue {
	background-color: #4775FF !important;
}

.status_grey {
	background-color: #2b2c2c;
}

/* /STATUSES */

#status {
	font-size: 65px;
}

#observing {
	position: absolute;
	right: 40px;
	top: 42px;

	font-size: 23px;
}

/* CONTENT AREA */
#content {

}

/* WIDGETS */
.widget {
	margin-left: 15px;
	margin-top: 20px;

	background-color: #2b2c2c;
	
	-moz-box-shadow: 2px 2px 10px #060606;
	-webkit-box-shadow: 2px 2px 10px #060606;
	box-shadow: 2px 2px 10px #060606;

	float: left;
	width: 230px;
	height: 150px;
}

.widget-title {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #5d6b74;
	
	/* fallback */
	background-color: #2b2c2c;
	  
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2b2c2c), to(#2e302e));
	  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #2b2c2c, #2e302e);
	  
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #2b2c2c, #2e302e);
	  
	/* IE 10 */
	background: -ms-linear-gradient(top, #2b2c2c, #2e302e);
	  
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #2b2c2c, #2e302e);

	width: 220px;
	display: block;
	border-bottom: 2px solid #323432;

	text-shadow: 2px 2px 1px #181818;
}

.widget-content {
	display: block;
	margin-left: -2px;
	margin-top: 25px;
	width: 100%;
	text-align: center;
	word-break: hyphenate;
	word-wrap: break-word;

	font-size: 2em;
	color: #ffffff;
}